.search-component {
  margin-top: 10px;
}

.search-component .title {
  margin-bottom: 10px;
}

.search-box,
.search-button,
.lucky-box {
  background: #4d0000;
  color: #FFF;
  border: 2px solid #4d0000;
  padding: 10px;
}

.lucky-box {
  max-width: 238px;
  margin: auto;
  margin-top: 10px;
}

.search-box::placeholder {
  color: #FFF;
}

.search-button {
  margin-left: 4px;
}

.search-results-error {
  margin-top: 20px;
}

.search-results-error .fa {
  margin-right: 5px;
  color: #ff6666;
}
