.search-component {
  margin-top: 10px;
}

.search-component .title {
  margin-bottom: 10px;
}

.search-component .lucky-url {
  margin-top: 10px;
}

.search-box,
.search-button {
  background: #4d0000;
  color: #FFF;
  border: 2px solid #4d0000;
  padding: 10px;
}

.search-box::placeholder {
  color: #FFF;
}

.search-button {
  margin-left: 4px;
}
