.search-box,
.search-button {
  background: #800000;
  color: #FFF;
  border: 2px solid #800000;
  padding: 10px;
}

.search-box::placeholder {
  color: #FFF;
}

.search-button {
  margin-left: 4px;
}